<div class="article_form">
    <div class="article_form_inner">
        <ul>
            <% @profile.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
            <% end %>
        </ul>
        <%= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f| %>
        <div>
            <%= f.label :avatar, 'プロフィール画像' %>
        </div>
        <div>
            <%= f.file_field :avatar %>
        </div>
        <div>
            <%= f.label :nickname, 'ニックネーム' %>
        </div>
        <div>
            <%= f.text_field :nickname, class: 'text' %>
        </div>
        <div>
            <%= f.label :introduction, '自己紹介' %>
        </div>
        <div>
            <%= f.text_area :introduction %>
        </div>
        <%= f.submit '保存する', class: '' %>
        <% end %>
    </div>
</div>