<div class="comment">
    <div class="comment_inner">
        <ul>
            <% @comment.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
            <% end %>
        </ul>
        <ul>
            <% @comment.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
            <% end %>
        </ul>

        <% @comments.each do |comment| %>
            <p><%= comment.content %></p>
        <% end %>

        <h2>コメント投稿する</h2>

        <%= form_with(model: @comment, url: article_comments_path(@comment.article), local: true) do |f| %>
        <div>
            <%= f.text_area :content %>
        </div>
        <%= f.submit '投稿する', class: '' %>
        <% end %>
    </div>
</div>
